{{define "Footer"}}
            <div id="PrevNext">
                <div id="Prev"> <a href="javascript:" onclick="javascript:Prev()">Last page<<</a> </div>
                <div id="Next"> <a href="javascript:" onclick="javascript:Next()">Next page>></a> </div>
            </div>
        </div>
        <!-- end content -->
        <!--div id="Next"> <img src="static/images/next.jpg" onclick="javascript:Next()"></img> </div>
        <div id="Prev"> <img src="static/images/prev.jpg" onclick="javascript:Prev()"></img> </div-->
    </div> <!--end wrapper-->
    <footer>
        <div id="foot">
            <div id="ft">
                <div id="footlogo"> <a href="http://www.csnuts.com" >CS NUTS</a> </div>
                <div id="contact">
                    <a href="#" target="_blank">CSNUTS</a>
                    <a href="#" target="_blank">POST</a>
                    <a href="#" target="_blank">Mobile</a>
                    <a href="#" target="_blank">Site map</a>
                    <a href="#" target="_blank">Contact</a>
                    <a href="#" target="_blank">About us</a>
                </div>
                <div id="copyright">Compuster Science Nuts(WWW.CSNUTS.COM)<br>
                    Copyright ©  2012-2112 CSNUTS, All rights reserved.<br>
                    Powered by CSNUTS.COM</div>
                </div>
        </div>
    </footer>
</body>
</html>
{{end}}
