{{define "Footer"}}
            <div id="PrevNext">
                <div id="Prev"> <a href="javascript:" onclick="javascript:Prev()"><<上一页</a> </div>
                <div id="Next"> <a href="javascript:" onclick="javascript:Next()">下一页>></a> </div>
            </div>
        </div>
        <!-- end content -->
        <!--div id="Next"> <img src="static/images/next.jpg" onclick="javascript:Next()"></img> </div>
        <div id="Prev"> <img src="static/images/prev.jpg" onclick="javascript:Prev()"></img> </div-->
    </div> <!--end wrapper-->
    <footer>
        <div id="foot">
            <div id="ft">
                <div id="footlogo"> <a href="http://www.csnuts.com" >CS NUTS</a> </div>
                <div id="contact">
                    <a href="#" target="_blank">计算机科学坚果会</a>
                    <a href="#" target="_blank">投稿</a>
                    <a href="#" target="_blank">手机</a>
                    <a href="#" target="_blank">地图</a>
                    <a href="#" target="_blank">联系我们</a>
                    <a href="#" target="_blank">关于我们</a>
                </div>
                <div id="copyright">计算机科学坚果会(西纳网) WWW.CSNUTS.COM<br>
                    Copyright ©  2012-2112 计算机科学坚果会, All rights reserved.<br>
                    Powered by CSNUTS.COM</div>
                </div>
        </div>
    </footer>
</body>
</html>
{{end}}
